# Dependencies
node_modules/
frontend/node_modules/

# Environment files
.env
frontend/.env

# Uploads folder
uploads/

# Build folder
frontend/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db